{% extends 'base.html.twig' %}

{% block title %}

{% endblock %}

{% block body %}
    <div class="quiz">
{#        {% if question is defined and question|length %}#}


        <dl class="dl-horizontal">
            {% for question in question %}

                {% if question.id==1 %}
               <h1>{{ question.quiz.name }}</h1>
                {% endif %}
           <h1>{{ 'Question'|trans }}</h1> <p>{{ question.content }}</p>
               <h2>{{ 'Answer'|trans }}</h2>

            <form method="post" action="{{ url('sendQuiz') }}">

                {% for questionPossibleAnswer in question.questionPossibleAnswer %}

                <label for="{{ questionPossibleAnswer.id }}">
               <input id="{{ questionPossibleAnswer.id }}" type="radio" value="{{ questionPossibleAnswer.isCorrect }}" name="{{ questionPossibleAnswer.question.id }}">
                  {{ questionPossibleAnswer.content }}
                    </label>
            {% endfor %}


            {% endfor %}
                <p><input type="submit" value="send"></p>
            </form>
        </dl>
 <div>

 </div>

    </div>
{% endblock %}